---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Miquel Vera">
	<main>
		<Header></Header>
		<Hero></Hero>
	</main>
</Layout>

<style>
	main {
		margin: 0px 21%;
	}
</style>