---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Content from '../components/Content.astro';
---

<Layout title="Miquel Vera">
	<main>
		<Header></Header>
		<Content></Content>
	</main>
</Layout>

<style>
	main {
		margin: 0px 21%;
	}
</style>