---
import Hero from "./Hero.astro";
import Card from "./Card.astro";
import Pic from "./Pic.astro";
---
<div class="header">
    <Hero></Hero>
    <Pic></Pic>
</div>
<div id="projects">
    <div class="content">
        <Card
            title={'Scorevo'}
            description={"Football Scoreboard for live events"}
            img=""
            link_repo="https://www.github.com/miveradev/scorevo"
            link_view="#"
            color="#CD6767">
        </Card>
        <Card
            title={'Marvel Reading Order Tracker'}
            description={"Comic tracker following Marvel Master Reading Order"}
            img=""
            link_repo="#"
            link_view="#"
            color="#6F8860">
        </Card>
        <Card
            title={'Scorevo'}
            description={"Football Scoreboard for live events"}
            img=""
            link_repo="https://www.github.com/miveradev/scorevo"
            link_view="#"
            color="#CD6767">
        </Card>
        <Card
            title={'Marvel Reading Order Tracker'}
            description={"Comic tracker following Marvel Master Reading Order"}
            img=""
            link_repo="#"
            link_view="#"
            color="#6F8860">
        </Card>
    </div>
</div>

<style>

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        gap: 30px;
        height: 470px;
    }

    .content {
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 30px;
    }

</style>