---
import Hero from "./Hero.astro";
import Card from "./Card.astro";
import LongCard from "./LongCard.astro";
import Pic from "./Pic.astro";
---
<div class="header">
    <Hero></Hero>
    <Pic></Pic>
</div>
<div id="projects">
    <div class="content">
        <Card
            title={'Scorevo'}
            description={"Customizable Football Scoreboard for live events, specially designed for Twitch streamers"}
            img="/scorevo.jpg"
            link_repo="https://www.github.com/miveradev/scorevo"
            link_view="https://scorevo-mivera.web.app/"
            color="#FFFFFF"
            tech={["React", "Typescript"]}>
        </Card>
        <Card
            title={'Marvel Reading Order Tracker'}
            description={"Comic tracker following Marvel Master Reading Order"}
            img="/comic-journey.jpg"
            link_repo="https://www.github.com/miveradev/comic-journey"
            link_view="https://comic-journey.netlify.app/"
            color="#FFFFFF"
            tech={["Astro", "TailwindCSS", "Supabase"]}>
        </Card>
        <Card
            title={'Claudia Gil - Portfolio'}
            description={"Architect's portfolio featuring projects and work experience"}
            img="/claudia.jpg"
            link_repo="https://www.figma.com/proto/Fn7nyYhcEs3vtkAeXBeHAY/Claudia?t=MkIbAlmosMJFjna7-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&node-id=13-137"
            link_view="https://www.figma.com/proto/Fn7nyYhcEs3vtkAeXBeHAY/Claudia?t=MkIbAlmosMJFjna7-1&scaling=min-zoom&content-scaling=fixed&page-id=0%3A1&node-id=13-137"
            color="#000000"
            tech={["Figma", "UX/UI"]}>
        </Card>
    </div>
</div>

<style>

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr;
        gap: 30px;
        height: 470px;
    }

    .content {
        margin-top: 36px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 30px;
    }


    @media (max-width:1800px) {
        .header {
            gap: 30px;
            height: 300px;
        }
    }

    @media (max-width:768px) {
        .header {
            display: flex;
            flex-direction: column-reverse;
            gap: 20px;
            height: 600px;
        }

        .content {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 30px;
        }
    }

    @media (max-width:425px) {
        .content {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            gap: 30px;
        }
    }

</style>