---

---

<header>
    <div class="sticky">
        <div class="header">
            <div class="logo">
                <div class="circle"></div>
                <section class="logo-text"><b>mivera</b></section>
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <a class="cv" href="mivera-cv.pdf" target="_blank">Full CV</a>
        </div>
    </div>
</header>

<style>

    .sticky {
        margin: 0;
        padding: 8px 0px;
        background-color: var(--grey);
        border-radius: 10px;
        position: sticky; /* Apply the sticky positioning */
        top: 0; /* Stick the element to the top of the viewport */
        z-index: 100; /* Ensure the navbar is above other content */
    }

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        color: var(--grey);
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.4rem;
    }

    .circle {
        background-color: var(--violet);
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 2rem;
        margin-top: 1px;
    }

    .logo-text {
        cursor: pointer;
        transition: 0.3s;
    }

    .logo-text:hover {
        color: var(--violet);
    }

    nav {
        padding: 0;
        
    }

    ul {
        display: flex;
        align-items: center;
        gap: 3rem;
        margin: 0px;
        padding: 0px;
    }

    li {
        list-style: none;
        cursor: pointer;
    }

    a {
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        transition: 0.3s;
        color: var(--black);
    }

    a:hover {
        color: var(--violet);
    }

    .cv {
        border-radius: 2rem;
        padding: 0.4rem 1.8rem;
        font-size: 14px;
        font-weight: 300;
        background-color: var(--violet);
        color: white;
        border: 2px solid var(--violet);
        transition: 0.3s;
        cursor: pointer;
    }

    .cv:hover {
        background-color: white;
        color: var(--violet);
    }

    @media (max-width:1440px) {
        .header {
            font-size: 12px;
        }

        a {
            font-size: 12px;
        }

        .cv {
            border-radius: 2rem;
            padding: 0.3rem 1.4rem;
            font-size: 10px;
            font-weight: 300;
        }
    }


    @media (max-width:1024px) {
        .header {
            font-size: 10px;
        }

        a {
            font-size: 10px;
        }

        .cv {
            border-radius: 2rem;
            padding: 0.2rem 1rem;
            font-size: 8px;
            font-weight: 300;
        }
    }

    @media (max-width:425px) {
        ul {
            gap: 0.4rem;
        }

        a {
            font-size: 8px;
        }
    }

</style>