---
---

<section>
    <h1>Hey, I’m Miquel, a Full Stack Developer and UI Designer from Spain</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel amet iste, eius molestiae omnis ipsum assumenda.</p>
    <button>Contact me</button>
</section>


<style>

    section {
        background-color: white;
        border-radius: 20px;
        min-width: 550px;
        padding: 30px 0px 0px 40px;
        height: 450px;
    }

    h1 {
        font-size: 40px;
        font-weight: 600;
        width: 500px;
        margin-bottom: 2.5rem;
        margin-top: 0px;
    }

    p {
        width: 450px;
        font-size: 16px;
        margin-bottom: 7rem;
    }

    button {
        font-size: 14px;
        font-weight: 600;
        background-color: var(--black);
        color: white;
        border: 2px solid var(--black);
        border-radius: 40px;
        width: 170px;
        height: 44px;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: white;
        color: var(--black);
    }
    
</style>