---
---
<section>
    <img src="/mivera.jpg" alt="mivera_picture">
</section>

<style>

    section {
        height: 100%;
        width: 400px;
        margin: 0px;
        overflow: hidden;
        border-radius: 20px;
    }
    
    img {
        height: 100%;
        transition: all 0.3s ease-in-out;
        transform-origin: 50% 50%;
    }

    img:hover {
        transform: scale(1.1);
    }


</style>